@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Light Green 700 */
    --primary-color: #7cb342;
    --primary-color-deep: #388e3c;
}

html,
body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    padding: 0;
    margin: 0;
}

/* Laptop */
@media screen and (max-width: 1920px) {
    body {
        font-size: 14px;
    }
}

/* Wide screen */
@media screen and (min-width: 1920px) {
    body {
        font-size: 16px;
    }
}
